# Ignore virtual environment 
venv/
VENV/
env/
ENV/
*.venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp

# Ignore environment configuration files
.env
*.log

# Ignore Jupyter Notebook checkpoints (if using Jupyter)
.ipynb_checkpoints/

# Ignore dataset files (if any)
*.csv
*.tsv
*.json
*.xml
*.sqlite
*.db
*.h5
*.pkl

# Ignore large model files
*.pt
*.pth
*.onnx
*.tflite
*.pb
*.ckpt
*.hdf5
*.npy

# Ignore temporary files
.DS_Store
Thumbs.db
